@tailwind base;
@tailwind components;
@tailwind utilities;

.sp-layout{
   @apply md:h-[85vh]
}
.sp-stack{
    @apply !h-full
}
.sp-icon-standalone{
    display: none !important;
}

/* dev popover css  */
.showDropDown{
    animation: dropDownShow 400ms cubic-bezier(0.16, 1, 0.3, 1);
  }
  
  @keyframes dropDownShow {
    from {
      opacity: 0;
      transform:scale(0.9);
    }
    to {
      opacity: 1;
      transform:scale(1);
    }
  }

  /* css beam-loader  */
  .beam-loader {
    width: 0;
    height: 2px;
    display: inline-block;
    position: relative;
    background: #fbbf24;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
    box-sizing: border-box;
    animation: animFw 8s linear infinite;
  }
    .beam-loader::after,
    .beam-loader::before {
      content: '';
      width: 10px;
      height: 1px;
      background: #fbbf24;
      position: absolute;
      top: 9px;
      right: -2px;
      opacity: 0;
      transform: rotate(-45deg) translateX(0px);
      box-sizing: border-box;
      animation: coli1 0.3s linear infinite;
    }
    .beam-loader::before {
      top: -1px;
      transform: rotate(45deg);
      animation: coli2 0.3s linear infinite;
    }
  
  @keyframes animFw {
      0% {
    width: 0;
  }
      100% {
    width: 100%;
  }
    }
  
  @keyframes coli1 {
      0% {
    transform: rotate(-45deg) translateX(0px);
    opacity: 0.7;
  }
      100% {
    transform: rotate(-45deg) translateX(-45px);
    opacity: 0;
  }
    }
  
  @keyframes coli2 {
      0% {
    transform: rotate(45deg) translateX(0px);
    opacity: 1;
  }
      100% {
    transform: rotate(45deg) translateX(-45px);
    opacity: 0.7;
  }
    }
    